<template>
  <div>
    <el-dialog
        :visible.sync="dialogVisible"
        width="40%"
    >
      <template slot="title">
        <div class="dialog-title-style">我要吐槽</div>
      </template>

      <div class="box-card">
        <div style="float:left;font-size:15px;color:#619dd9">问题描述</div>

        <el-input
            type="textarea"
            :rows="4"
            v-model="advise_content">
        </el-input>

        <span slot="footer" class="dialog-footer">
          <el-button
              class="commit-button"
              size="mini"
              @click="submit_advise">提交</el-button>
        </span>


      </div>

    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Advise',
  props: {
    msg: String
  },
  data() {
    return {
      dialogVisible: false,
      advise_content: '',
    };
  },
  methods: {
    openDialog() {
      this.dialogVisible = true
    },

    submit_advise() {
      if(this.advise_content==""){
        this.$message({
          message: '请输入内容',
          type: 'warning'
        });
        return
      }

      this.apis.UserAdvise(this, {content: this.advise_content}, (resp)=>{
        this.$message({
          message: '提交成功!感谢您的反馈(u‿ฺu✿ฺ)',
          type: 'success'
        });
        this.advise_content = ''
        this.dialogVisible = false
      })

    }
  }
}
</script>

<style>
.commit-button{
  width: 100px;
  height: 25px;
  background-color: rgb(6,168,255);
  color: white;
  float:right;
}

.dialog-footer {
  padding: 0;
}

</style>