<template>
  <div>
  <el-dialog
    :visible.sync="dialogVisible"
    width="40%"
    style="height:500px"
  >
    <template slot="title">
      <div class="dialog-title-style">新建下载任务</div>
    </template>

    <div class="box-card">
      <el-row><div style="float:left;font-size:15px;color:#619dd9">填写页面链接</div></el-row>
      <el-row :gutter="10">
        <el-col :span="24">
          <el-input
              type="textarea"
              :rows="3"
              size="mini" v-model="input_links" placeholder="多个链接用回车分隔">
          </el-input>
        </el-col>

      </el-row>

      <el-row style="margin-top: 10px;">
        <el-col :span="4">
          <el-checkbox v-model="need_danmu">同时下载弹幕</el-checkbox>

        </el-col>

      </el-row>

      <el-row style="margin-top: 10px">

          <el-col :span="20">
            保存到:  {{this.device_info.download_path}}
          </el-col>
          <el-col :span="4">
            <el-button style="margin-left:5px" size="mini" :disabled="true">更改</el-button>
          </el-col>

      </el-row>
    </div>

    <div slot="footer" class="dialog-footer">
          <el-row style="float:left;font-size:10px;color:gray">
      剩余: {{this.device_info.disk_free_space}}
    </el-row>
    <el-button
        class="commit-button"
        size="mini"
        @click="startDownload">开始下载</el-button>
    </div>

  </el-dialog>
  </div>
</template>

<script>

export default {
  name: 'CreateDownload',
  props: {
    msg: String
  },
  mounted(){
    console.log("我是CreateDownload，我mounted了")
  },

  data() {
    return {
      dialogVisible: false,
      input_links: "",
      device_info: {},
      need_danmu: false,
    };
  },
  methods: {
    openDialog() {
      this.apis.GetDeviceInfo(this, (resp)=>{
         this.device_info = resp
      })
      console.log("device_info:", this.device_info)
      this.dialogVisible = true
    },
    handleEmpty() {
      console.log('empty');
    },
    startDownload() {
      if(this.input_links==""){
        this.$message({
          message: '请输入待解析内容',
          type: 'warning'
        });
        return
      }

      this.apis.Download(this, {links: this.input_links, force: true, need_danmu: this.need_danmu}, (resp)=>{
        if(resp.err_msg) {
          this.$message({
            message: '创建失败:'+resp.err_msg,
            type: 'error'
          });
          return
        }
        this.$message({
          message: '创建成功',
          type: 'success'
        });

        //TODO: 通知List刷新


      })
      this.input_links = ''
      this.dialogVisible = false
    }
  }
}
</script>

<style>
  .dialog-title-style {
    width: 100%;
    text-align: left;
    font-size: 15px;
  }

  .box-card {
    padding: 15px;
    height: 150px;
    border:1px solid #e3e6e9;
  }

  .dialog-footer {
    padding: 0px;
  }

</style>

<style>

  .commit-button{
    width: 100px;
    height: 25px;
    background-color: rgb(6,168,255);
    color: white;
  }

  .el-dialog__footer{
    height: 35px;
    padding: 0px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .el-dialog__body {
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
  }

</style>