<template>
  <div>

    <el-container>
      <el-main>
        <el-table
            :data="downloadInfos"
            :row-key="(row)=>{return row.avid+row.title}"
            style="width: 100%">
          <el-table-column
              type="expand"
          >
            <template slot-scope="props">
              <el-table
                  :data="props.row.sub_items"
                  size="small"
                  style="width: 80%;margin-left:50px"
                  :show-header="false">
                <el-table-column
                    prop="file_name"
                    label="分p名称"
                    width="180">
                </el-table-column>
                <el-table-column
                    label="状态">
                  <template slot-scope="scope">
                    <el-row :gutter="20">
                      <el-col :span="6">
                        <div>{{showDownloadProgress(scope.row.finish_size, scope.row.total_size)}}</div>
                      </el-col>
                      <el-col :span="6">
                        <div>{{showDownloadSpeed(scope.row.speed)}}</div>
                      </el-col>
                    </el-row>
                    <el-row :gutter="20">
                      <el-col >
                        <div><el-progress
                            :show-text="false"
                            :stroke-width="5"
                            :percentage="getDownloadPercentage(scope.row.finish_size, scope.row.total_size)"
                            :color="subItemProgressColors"
                        ></el-progress></div>
                      </el-col>
                    </el-row>

                    <el-row v-if="scope.row.err_msg">
                      <div style="color:red">失败:{{scope.row.err_msg}}</div>
                    </el-row>


                  </template>
                </el-table-column>

                <el-table-column
                    label="剩余时间"
                    width="100">
                  <template slot-scope="scope">
                    {{showTimeLeft(scope.row.time_left_sec)}}
                  </template>
                </el-table-column>

                <el-table-column
                    label="操作"
                    width="180"
                >

                  <template v-if="scope.row.finish_size<scope.row.total_size" slot-scope="scope">
                    <el-popconfirm
                        title="删除文件并重新下载?"
                        @confirm="handleRetrySubTask(scope.row)"
                        style="padding-right:5px"
                    >
                      <el-button slot="reference" size="mini" icon="el-icon-refresh-right" circle></el-button>
                    </el-popconfirm>

                  </template>

                </el-table-column>

              </el-table>
            </template>
          </el-table-column>

          <el-table-column
              label="任务"
              width="180">
            <template slot-scope="scope">

              <el-popover trigger="hover" placement="top">
                {{scope.row.title}}
                <div slot="reference">
                  <el-image
                      style="width: 70%; height: 70%"
                      :src="scope.row.cover"
                  ></el-image>
                  <div>{{showTitle(scope.row.title)}}</div>
                </div>
              </el-popover>

            </template>

          </el-table-column>

          <el-table-column
              label="状态"
          >
            <template slot-scope="scope">
              <el-row>
                <div>{{showDownloadProgress(scope.row.finish_size, scope.row.total_size)}}</div>
                <div>{{showDownloadSpeed(scope.row.speed)}}</div>
                <div><el-progress
                    :show-text="false"
                    :stroke-width="8"
                    :percentage="getDownloadPercentage(scope.row.finish_size, scope.row.total_size)"
                    :color="colorBlue"
                ></el-progress></div>
              </el-row>

              <el-row v-if="scope.row.err_msg">
                <div style="color:red">部分文件失败</div>
              </el-row>

            </template>
          </el-table-column>
          <el-table-column
              label="剩余时间"
              width="200">
            <template slot-scope="scope">
              {{showTimeLeft(scope.row.time_left_sec)}}
            </template>
          </el-table-column>
          <el-table-column
              prop="option"
              label="操作"
              width="180"
          >

            <template slot-scope="scope">
              <el-popconfirm
                  title="删除文件并重新下载?"
                  @confirm="handleRetryTask(scope.row)"
                  style="padding-right:5px"
              >
                <el-button slot="reference" size="small" icon="el-icon-refresh-right" circle></el-button>
              </el-popconfirm>

              <el-popconfirm
                  title="确认删除吗？"
                  @confirm="handleDeleteTask(scope.row)"
                  style="padding-right:5px"
              >
                <el-button slot="reference" size="small" type="danger" icon="el-icon-delete" circle></el-button>
              </el-popconfirm>
            </template>

          </el-table-column>
        </el-table>
      </el-main>
    </el-container>

  </div>
</template>

<script>
export default {
  name: 'DownloadList',
  props: {
    msg: String
  },
  data() {
    return {
        subItemProgressColors:[
          {color: '#fbc21f', percentage: 99},
          {color: 'green', percentage: 100},
        ],
        colorBlue: "#4f92ff",
        downloadInfos: [],
        hello: 'world',
        getDownloadListExpireSec: 1,
        getDownloadListTimes: 0,
        getDownloadListTimer: null,
      };
    },

    mounted() {
      console.log("DownloadList mounted!")
      this.refreshDownloadList()
    },

    beforeDestroy() {
      clearTimeout(this.getDownloadListTimer)
    },

    methods: {

    handleRetrySubTask(row) {
      console.log("handleRetrySubTask row:", row)
    },

    handleRetryTask(row) {
      console.log("handleRetryTask row:", row)
      this.apis.RetryDownload(this, {bvid: row.bvid})
    },

    handleDeleteTask(row) {
      console.log("handleDeleteTask row:", row)
      this.apis.DeleteDownload(this, {status: "running", bvid: row.bvid, with_file:true},(resp)=>{
        if(resp.err_msg){
          this.$message({
            message: '删除失败:'+resp.err_msg,
            type: 'success'
          });
          return
        }

        this.$message({
          message: '删除成功',
          type: 'success'
        });
      })
    },

    getDownloadPercentage(finish_size, total_size) {
      let percentage = finish_size*100/total_size
      return parseFloat(percentage.toFixed(2))
    },

    showDownloadProgress(finish_size, total_size) {
      return this.utils.ConvertSize(finish_size) + "/" + this.utils.ConvertSize(total_size)
    },

    showTimeLeft(totalSec) {
      if(totalSec <= 0){
        return "--:--:--"
      }
      var hour = Math.floor((totalSec / 3600)),
      min = Math.floor((totalSec - hour * 3600) / 60),
      sec = Math.floor(totalSec % 60)

      return hour.toString().padStart(2,'0') + ":" + min.toString().padStart(2,'0') + ":" + sec.toString().padStart(2,'0')
    },

    showTitle(title) {
      return this.utils.BeautySub(title, 15)
    },

    showDownloadSpeed(speed) {
      return this.utils.ConvertSize(speed) + "/s"
    },

    async refreshDownloadList() {
      await this.getDownloadList()
      this.getDownloadListTimer = setTimeout(this.refreshDownloadList, this.getDownloadListExpireSec * 1000)
    },

    async getDownloadList()  {
      this.getDownloadListTimes++
      //console.log("getDownloadList start"+ this.getDownloadListTimes)
      this.apis.GetDownloadList(this, "", (resp)=>{

        //console.log("here GetDownloadList resp:", resp)

        this.downloadInfos = resp.items

        let expireSec = resp.expire_sec
        if(!this.utils.IsInteger(expireSec)){
          expireSec = 10
        }
        this.getDownloadListExpireSec = expireSec
      })

    },

}
}
</script>