<template>
  <div>

  </div>
</template>

<script>
export default {
  name: 'Empty',
  props: {
    msg: String
  },
  data() {
    return {
      hello: 'world'
    };
  },
  methods: {
    handleEmpty() {
      console.log('empty');
    }
  }
}
</script>