<template>
  <div>
    <el-table
        :data="this.finishList"
        :row-key="(row)=>{return row.avid + row.title}"
        style="width: 100%">'
      <el-table-column
          type="expand"
      >
      </el-table-column>
      <el-table-column
          label="任务"
          width="180">
        <template slot-scope="scope">

          <el-popover trigger="hover" placement="top">
            {{scope.row.title}}
            <div slot="reference">
              <el-image
                  style="width: 70%; height: 70%"
                  :src="scope.row.cover"
              ></el-image>
              <div>{{showTitle(scope.row.title)}}</div>
            </div>
          </el-popover>

        </template>

      </el-table-column>

      <el-table-column
          label="状态"
          width="180">
        已完成
      </el-table-column>

      <el-table-column
          label="bvid"
          width="180">
        <template slot-scope="scope">
          {{ scope.row.bvid }}
        </template>
      </el-table-column>

      <el-table-column
          label="任务大小"
          width="180">
        <template slot-scope="scope">
          {{ utils.ConvertSize(scope.row.total_size) }}
        </template>
      </el-table-column>

      <el-table-column
          label="目的文件夹"
          >
        <template slot-scope="scope">
          {{ scope.row.download_path }}
        </template>
      </el-table-column>

      <el-table-column
          label="完成时间"
          width="200">
        <template slot-scope="scope">
          {{ utils.FormatTime(scope.row.finish_time) }}
        </template>
      </el-table-column>

      <el-table-column
          prop="option"
          label="操作"
          width="180"
      >

        <template slot-scope="scope">

          <el-popconfirm
              title="确认删除吗？"
              @confirm="handleDeleteTask(scope.row)"
              style="padding-right:5px"
          >
            <el-button slot="reference" size="small" type="danger" icon="el-icon-delete" circle></el-button>
          </el-popconfirm>
        </template>

      </el-table-column>

    </el-table>
  </div>
</template>

<script>
export default {
  name: 'FinishList',
  props: {
    msg: String
  },
  data() {
    return {
      hello: 'world',
      finishList: [],
      getFinishListExpireSec: 2,
      getFinishListTimes: 0,
    };
  },

  mounted() {
    console.log("FinishList mounted!")
    this.refreshFinishList()
  },

  methods: {
    handleEmpty() {
      console.log('empty');
    },

    async refreshFinishList() {
      await this.getFinishList()
      setTimeout(this.refreshFinishList, this.getFinishListExpireSec * 1000)
    },

    async getFinishList()  {
      this.getFinishListTimes++
      //console.log("getFinishList start"+ this.getFinishListTimes)
      this.$http.get("download/list?status=finished").then(function(resp){
        this.finishList = resp.body.items
        //console.log("finishList:", this.finishList)
        let expireSec = resp.body.expire_sec
        if(!this.utils.IsInteger(expireSec)){
          expireSec = 10
        }
        this.getFinishListExpireSec = expireSec
      })
    },

    handleDeleteTask(row) {
      console.log("handleDeleteTask row:", row)
      this.apis.DeleteDownload(this, {status: "finished", bvid: row.bvid, with_file:true},(resp)=>{
        if(resp.err_msg){
          this.$message({
            message: '删除失败:'+resp.err_msg,
            type: 'success'
          });
          return
        }

        this.$message({
          message: '删除成功',
          type: 'success'
        });
      })
    },

    showTitle(title) {
      return this.utils.BeautySub(title, 15)
    },
  }
}
</script>