<template>
  <div
      v-loading="this.loading"
      element-loading-text="客户端初始化中..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)">
    <el-container>
      <el-header style="height:100px;background-color: #3a96e3">
        <el-image
            v-if="poster_url"
            style="float:left;height:100%;"
          :src="poster_url">
        </el-image>
      </el-header>
      <el-main style="height:720px">

        <el-row :gutter="0">

          <el-col :span="23">
            <el-tabs v-model="activeName" >
              <el-tab-pane label="下载中" name="first">
                <DownloadList/></el-tab-pane>
              <el-tab-pane label="已完成" name="second"><FinishList/></el-tab-pane>
            </el-tabs>
          </el-col>

          <el-col :span="1">
            <el-button type="danger" size="small" style="float:right" @click="openCreateTaskDialog">创建任务</el-button>
            <CreateDownload ref="CreateDownload"/>
          </el-col>

        </el-row>

      </el-main>
      <el-footer>
        <el-row :gutter="20">
          <el-col :span="16" style="float:left;color:gray">
            <div class="copyright">b站视频下载器 {{this.client_version}} copyright: © 2014-2022 落叶秋沙</div>
          </el-col>
          <el-col :span="2" style="float:right;color:gray">
            <el-button type="text" style="color:gray" @click="openAdviseDialog">我要吐槽</el-button>
            <Advise ref="Advise"/>
          </el-col>
        </el-row>
      </el-footer>
    </el-container>

  </div>
</template>

<script>
import DownloadList from "./DownloadList.vue";
import FinishList from "./FinishList.vue";
import CreateDownload from "./CreateDownload.vue";
import Advise from "./Advise";

export default {
  name: 'HomePage',
  components: {
    DownloadList,
    CreateDownload,
    FinishList,
    Advise,
  },
  props: {
    msg: String
  },
  data() {
    return {
      activeName: 'first',
      poster_url: '',
      client_version: '',
      loading: true,
    };
  },

  created() {

  },

  mounted() {
    console.log("HomePage mounted!")

    setTimeout(function(){
      this.apis.Ping(this, (resp)=>{
        console.log("ping resp:", resp)
        if(!resp){
          this.$message({
            message: '初始化失败',
            type: 'success'
          });
        }
        this.loading = false
      })

      this.apis.GetDeviceInfo(this, (resp)=>{
        if(!resp){
          return
        }
        this.poster_url = resp.poster_url
        this.client_version = resp.client_version
      })
    }.bind(this), 100);


  },

  methods: {
    openCreateTaskDialog(tab, event) {
      this.$refs.CreateDownload.openDialog();
    },

    openAdviseDialog(tab, event) {
      this.$refs.Advise.openDialog();
    }
  }
}

</script>

<style>
.copyright{
  font-size: 5px
}
</style>